// @import '../fonts/index.scss'; import font

//================== Typo =================//

// font family

// title
$fs-title-0: 4rem; // 64px
$fs-title-1: 3rem; // 48px
$fs-title-2: 1.5rem; // 24px

// body
$fs-body-1: 1.25rem; // 20px
$fs-body-2: 1.125rem; // 18px
$fs-body-3: 1rem; // 16px

// font weight
$fw-1: 100;
$fw-2: 200;
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;
$fw-8: 800;

// line height
$lh-1: 1.125; // 18px
$lh-2: 1.5rem; // 24px
$lh-3: 2.5rem; // 40px
$lh-4: 2rem; // 32px

// color
$color-primary-main-1: #fa7436;
$color-primary-main-2: #222222;

$color-secondary-1: #f2f2f2;
$color-secondary-2: #ffb60a;

$color-background-1: #fa7436;
$color-background-2: #fefcfb;
$color-background-3: #f7f8fc;

$color-text-1: #222222;
$color-text-1: #444444;
$color-text-1: #666666;
